<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
	<Appenders>
		<!-- %d{HH:mm:ss.SSS} Async Loggers will auto-flush in batches, so switch 
			off immediateFlush. -->
		<RandomAccessFile name="RandomAccessFile"
			fileName="async.log" immediateFlush="false" append="false">
			<PatternLayout>
				<Pattern>%d{HH:mm:ss} %c{1} %m %ex%n</Pattern>
			</PatternLayout>
		</RandomAccessFile>

		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="%c - %msg%n" />
		</Console>

	</Appenders>
	<Loggers>
		<Logger name="io.netty" level="WARN" />

		<Root level="all" includeLocation="false">
			<AppenderRef ref="RandomAccessFile" />
			<AppenderRef ref="Console" />
		</Root>
	</Loggers>
</Configuration>